
{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Welcome to Stock Trade Platform</title>
</head>
<body>

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://www.wsj.com/">
            <img src="https://miro.medium.com/max/1240/0*dunTLlei47QWR7NR.gif"
                 class="d-block w-100" alt="Please add picture"></a>
          <p>Source: gfycat.com</p>
        <div class="carousel-caption d-none d-md-block">
          <h1>Wall Street Journal</h1>
          <p>Get The Most Updated News From The Wall Street Journal</p>
        </div>
      </div>
      <div class="carousel-item">
          <a href="https://www.bloomber.com/">
              <img src="https://i.gifer.com/SUV4.gif" class="d-block w-100" alt="Please add picture" style="width:500px;height:625px;"></a>
          <p>Source: gifer.com</p>
        <div class="carousel-caption d-none d-md-block">
          <h1>Bloomberg News</h1>
          <p>Get The Most Updated News From Bloomberg News</p>
        </div>
      </div>
      <div class="carousel-item">
          <a href="https://www.nyt.com/">
        <img src="http://2.bp.blogspot.com/-NdcWUjdlM7Y/XF0jCiok0bI/AAAAAAAAGsk/Fr0ZvjynetQpdfn9cYWlADrREVfxllVQQCK4BGAYYCw/s1600/ParallelTiredBarasinga-size_restricted.gif"
             class="d-block w-100" alt="Please add picture" style="width:500px;height:625px;"></a>
        <div class="carousel-caption d-none d-md-block">
          <h1>The New York Times</h1>
          <p>Get The Most Updated News From The New York Times</p>
        </div>
          <br/>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<br/>

<div>
    <form method="POST" action="/" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="Ticker Search" placeholder="Enter Your Ticker" aria-label="Ticker Search" name="ticker">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">News Search</button>

    </form>

</div>

<br/>
<br/>
<br/>

{% if news_load %}
    {% if news_load == 'There is an error in your request. Please try again!' %}
        There is an error in your request. Please try again!
    {% else %}
        {% for news in news_load %}
        <p>
            <!--<b>Date:</b>{{ news.datetime }}<br/>-->
            <b>{{ news.headline }}<br/></b>
            <b>URL:</b> <a href={{ news.url }}>{{ news.url }}</a><br/>
            <b>Summary:</b> {{ news.summary}}<br/><br/>
        </p>
        {% endfor %}
    {% endif %}
{% endif %}
</body>
</html>

{% endblock %}
